Repository quantivly/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets-patterns, check-history-ignore

check-secrets-patterns:
  name: Check for secret patterns
  ...

check-history-ignore:
  name: Verify HISTORY_IGNORE includes secrets
  entry: bash -c 'if [ -f zsh/zshrc.history ]; then if ! grep -q "\*secret\*" zsh/zshrc.history && ! grep -q "\*password\*" zsh/zshrc.history; then echo "HISTORY_IGNORE should include secret/password patterns"; exit 1; fi; fi'
  language: system
  ...

DO-141 Added gitleaks to pre-commit for comprehensive secret detection (#8)
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

DO-145 Refactored monolithic zshrc.functions into 5 focused modules
  zsh/zshrc.functions
  zsh/zshrc.functions.core
  zsh/zshrc.functions.docker
  zsh/zshrc.functions.fzf
  zsh/zshrc.functions.git
  zsh/zshrc.functions.performance
  zshrc
Due: none

DO-145 Refactored monolithic zshrc.functions into 5 focused modules (#9)
  zsh/zshrc.functions
  zsh/zshrc.functions.core
  zsh/zshrc.functions.docker
  zsh/zshrc.functions.fzf
  zsh/zshrc.functions.git
  zsh/zshrc.functions.performance
  zshrc
Due: none

DO-147 Created unified mise configuration in dotfiles
  .mise.toml
  CLAUDE.md
  examples/mise-config.toml
  install
Due: none

DO-147 Created unified mise configuration in dotfiles (#10)
  .mise.toml
  CLAUDE.md
  examples/mise-config.toml
  install
Due: none

DO-148 Created security incident response documentation
  README.md
  docs/SECURITY_INCIDENTS.md
Due: none

DO-148 Created security incident response documentation (#11)
  README.md
  docs/SECURITY_INCIDENTS.md
Due: none

DO-149 Enhanced HISTORY_IGNORE patterns for better secret protection
  .pre-commit-config.yaml
  zsh/zshrc.history
Due: check-history-ignore

DO-149 Enhanced HISTORY_IGNORE patterns for better secret protection (#12)
  .pre-commit-config.yaml
  zsh/zshrc.history
Due: check-history-ignore

DO-150 Added pre-commit auto-installation to dotfiles install script
  install
Due: none

DO-150 Added pre-commit auto-installation to dotfiles install script (#13)
  install
Due: none

doc: Added comprehensive migration guide for mise and CLI tools
  CLAUDE.md
  README.md
  docs/MIGRATION.md
Due: none

DO-151 Added comprehensive migration guide for mise and CLI tools (#15)
  CLAUDE.md
  README.md
  docs/MIGRATION.md
Due: none

fix: Fixed YAML indentation in install.conf.yaml
  install.conf.yaml
Due: none

fix: Fixed CI workflow failures
  .github/workflows/ci.yml
  .github/workflows/markdown-link-check-config.json
  .pre-commit-config.yaml
Due: none

enh: Improved CI workflow with matrix strategy and manual triggering
  .github/workflows/ci.yml
Due: none

fix: Excluded zsh-specific files from shellcheck and private key detection
  .pre-commit-config.yaml
Due: none

fix: Fixed gitleaks config, HISTORY_IGNORE check, and YAML validation
  .github/workflows/ci.yml
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

DO-153 Added comprehensive GitHub Actions CI/CD pipeline
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/markdown-link-check-config.json
  CLAUDE.md
  README.md
Due: none

DO-153 Added comprehensive GitHub Actions CI/CD pipeline (#14)
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/markdown-link-check-config.json
  .gitleaks.toml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  install.conf.yaml
Due: none

doc: Added comprehensive mise trust configuration documentation
  CLAUDE.md
Due: none

fix: Fixed CI ShellCheck error suppression
  .github/README.md
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

DO-155 Fixed CI ShellCheck error suppression (#16)
  .github/README.md
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix: Fixed mise activation error suppression in install script
  CHANGELOG.md
  install
Due: none

DO-160 Fixed mise activation error suppression in install script (#17)
  CHANGELOG.md
  install
Due: none

DO-163 Security hardening and code quality improvements
  .gitleaks.toml
  .mise.toml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/TOOL_VERSION_UPDATES.md
  gitconfig
  install
  zsh/zshrc.aliases
  zsh/zshrc.conditionals
  zsh/zshrc.functions.utilities
  zsh/zshrc.history
Due: check-history-ignore

fix: CI failures - updated documentation links and HISTORY_IGNORE pattern
  docs/TOOL_VERSION_UPDATES.md
  zsh/zshrc.history
Due: check-history-ignore

DO-163 Security hardening and code quality improvements for dotfiles (#18)
  .gitleaks.toml
  .mise.toml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/TOOL_VERSION_UPDATES.md
  gitconfig
  install
  zsh/zshrc.aliases
  zsh/zshrc.conditionals
  zsh/zshrc.functions.utilities
  zsh/zshrc.history
Due: check-history-ignore

DO-165 Post-production optimization and reliability improvements
  .mise.toml
  CLAUDE.md
  zsh/zshrc.conditionals
  zsh/zshrc.functions.core
  zsh/zshrc.history
  zshrc
Due: check-history-ignore

Added system PID safety check to killnamed()
  zsh/zshrc.functions.core
Due: none

DO-165 Post-production optimization and reliability improvements (dotfiles) (#19)
  .mise.toml
  CLAUDE.md
  zsh/zshrc.conditionals
  zsh/zshrc.functions.core
  zsh/zshrc.history
  zshrc
Due: check-history-ignore

DO-166 Synced tool versions with .mise.toml
  docs/TOOL_VERSION_UPDATES.md
Due: none

DO-166 Synced tool versions with .mise.toml (#20)
  docs/TOOL_VERSION_UPDATES.md
Due: none

DO-169 Removed tool availability caching (performance regression)
  CLAUDE.md
  zsh/zshrc.conditionals
Due: none

DO-169 Documented tool cache performance with empirical benchmarks (#22)
  CLAUDE.md
  zsh/zshrc.conditionals
Due: none

DO-168 Reorganized Docker functions to functions module
  zsh/zshrc.aliases
  zsh/zshrc.functions.docker
Due: none

DO-168 Reorganized Docker functions to functions module (#21)
  zsh/zshrc.aliases
  zsh/zshrc.functions.docker
Due: none

DO-170 Enhanced mise trust warning documentation
  CLAUDE.md
Due: none

DO-170 Enhanced mise trust warning documentation (#23)
  CLAUDE.md
Due: none

DO-171 Created version sync automation script
  .github/workflows/ci.yml
  scripts/sync-version-docs.sh
Due: check-secrets-patterns

Path conditions:
  check-secrets-patterns: any of: \.(sh|bash|zsh)$
  check-history-ignore: any of: zsh/zshrc\.history$
